.Bg {
  background-image: url("./../../assets/images/abstract-blue-geometric-shapes-background_1035-17545.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
.SectionOne {
  margin: 20% auto;
}
.SectionOne button {
  margin-top: 10px;
}
.SectionOne p:first-child {
  font-size: 14px !important;
  line-height: 21px;
  font-family: AEmbMono, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #232f3e;
  text-align: start;
  text-transform: uppercase;
}
.SectionOne p:last-of-type {
  font-size: 16px !important;
  line-height: 24px;
  font-family: AEmb, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #232f3e;
}
.SectionOne h2 {
  font-size: 64px !important;
  line-height: 76px;
  font-family: AEmb, Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #232f3e;
  text-transform: none;
}
.SectionTwo h3,
.SectionThree h3 {
  font-size: 48px;
  line-height: 58px;
  font-family: AEmb, Helvetica, Arial, sans-serif;
  margin: 80px auto;
  font-weight: 900;
  color: #232f3e;
  text-align: center;
}
.SectionTwo h4 {
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
  font-family: AEmb, Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #232f3e;
}
.SectionTwo p {
  font-size: 16px;
  line-height: 24px;
  font-family: AEmb, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #6c7778;
}
.SectionTwo__Col {
  text-align: center;
}
.Icons {
  font-size: 50px;
  color: #5197fd;
}

.SectionThree label {
  font-size: 15px;
  line-height: 30px;
  font-family: AEmb, Helvetica, Arial, sans-serif;
  color: #232f3e;
  padding: 8px 1px;
}
.SectionThree button {
  margin-top: 20px;
  text-align: center;
}
.SectionThree input {
  font-size: 15px;
  font-family: AEmb, Helvetica, Arial, sans-serif;
  color: #232f3e;
  padding: 8px 8px;
}

@media screen and (max-width: 992px) {
  .Bg{
    background-size: cover;
  }
  .SectionOne h2 {
    font-size: 54px !important;
  }
}