.AboutBlog h1,
.AboutBlog h2,
.AboutBlog h3,
.AboutBlog h4,
.AboutBlog h5,
.AboutBlog h6 {
  text-align: center;
  margin: 30px auto;
  color: #000;
  font-family: "Acta W01 Book", Georgia, serif;
  font-weight: normal;
  font-size: 2.56578rem;
}
.AboutBlog p {
  color: #6e6e6e;
  line-height: 1.60181rem;
  font-family: "Acta W01 Book", Georgia, serif;
  font-size: 1rem;
  text-align: center;
  width: 51%;
  margin: auto;
  margin-bottom: auto;
  padding: 20px;
  margin-bottom: 0;
}
.AboutBlog img {
  width: 625px;
  margin: auto;
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 932px) {
  .AboutBlog p {
    width: 100%;
  }
}
