body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.CardWrapper {
  width: 100%;
  margin: 48px auto;
  border: 1px solid #e8e8e8;
  text-align: center;
  padding: 15px 12px;
}
.CardWrapper img {
  border-radius: 50%;
  width: 162px;
  height: 149px !important;
}
.Author {
  margin: 21px 0;
}
.CardWrapper h3 {
  margin: 27px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.Description {
  margin-bottom: 27px;
}
a {
  text-decoration: none;
}
