* {
  border: 0.5px solid red;
  box-sizing: border-box;
}
.Container {
  z-index: 5;
  background-color: #212529;
}
.Nav {
  height: 65px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 900px) {
  .Container {
    padding-bottom: 15px;
  }
}
